body{   /*De body van de html*/
    margin: 50px;   /*Hoe ver alles van de zijkant af staat*/
    background-color: rgb(98, 190, 98); /* veranderd de body's achtergrond kleur naar een groene kleur*/
}

header {
    height:50px;                                             /* de hoogte van de header */
    width: 80%;                                              /* de breedte van de header is 80% van de gehele breedte van de pagina*/
    border: 1px solid black;                               /* maakt een omlijning om de header heen. Deze omlijning is 1px dik en heeft een zwarte kleur.*/
    margin: auto;                                            /* plaatste de header in het midden (van de breedte) van de pagina*/
    padding: 10px 25px;                                      /* verandert de vulling van de header. De ruimte tuseen de tekst en de border.*/
    background-color: rgb(136, 196, 191);                  /* achtergrond kleur van header word nu een licht blauwe kleur*/
    color: black;                                          /* kleur van de text in de header is zwart*/
    text-align:center;                                       /* De tekst in het header blokje staat nu in het midden van het blokje*/
    text-decoration: none;                                   /* tex-decoration staat op none dus maakt geen veranderingen aan de pagina*/
    box-shadow: 5px 5px rgba(0,0,0, 0.5);                  /* maakt een schaduw achter de box. De kleur is zwart en de dikte is 5px */
    font-family: "Times New Roman", Times, serif;            /* Verandert het lettertype naar de "Times New Roman" van de header*/
    font-size: xx-large;                                     /* maakt de grootte van de tekst naar xxl (alleen in de header)*/
}

h2 { 
    height:25px;                                             /* de hoogte van h2*/
    width: 30%;                                              /* de breedte van h2 is 30% van de gehele breedte van de pagina*/
    border: 1px solid black;                               /* maakt een omlijning om h2 heen. Deze omlijning is 1px dik en heeft een zwarte kleur.*/
    padding: 10px 25px;                                      /* verandert de vulling van h2. De ruimte tuseen de tekst en de border.*/
    background-color: rgb(136, 196, 191);                  /* achtergrond kleur van h2 word nu een licht blauwe kleur*/
    color: black;                                          /* kleur van de text in h2 is zwart*/
    text-decoration: none;                                   /* kleur van de text in de header is zwart*/
    box-shadow: 5px 5px rgba(0,0,0, 0.5);                  /* maakt een schaduw achter de box. De kleur is zwart en de dikte is 5px */
    font-size: x-large;                                      /* maakt de grootte van de tekst naar xl (alleen in h2)*/
    font-family: "Lucida Console","Courier New", monospace;  /* Verandert het lettertype naar de "Lucida Console" van h2*/
}

p {
    font-family: Arial,Helvetica,sans-serif;                 /* Verandert het lettertype naar de "Arial" van p*/
}

li {                                                         
    font-family: Arial,Helvetica,sans-serif;                 /* Verandert het lettertype naar de "Arial" van p*/
}