
body{
    background-color: rgb(151, 151, 151);
}

header{
    text-align: center;
    font-size: large;
    background-color: white;
    padding: 5px;
}

main{
    background-color: gray;
    
}

.container{
    display: flex;
    justify-content: space-around;
    height: 500px;
    margin: 10px;
}

.box1{
    background-color: rgb(63, 56, 56);
    color: white;
    width: 40%;
    padding: 5px;
}
    
.box2{
    background: black;
    color: white;
    width: 40%;
    padding: 5px;
}

footer{
    background-color: lightblue;
    text-align: center;
    padding: 10px;
}

