body{
    border: 1px solid darkblue;
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    background-color: white;
}
.back{
    background-color: lightsteelblue;
}

.top{
    text-align: center;
    background-color: lightsteelblue;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkblue;
}

li {
    float: left;
    margin-left: 6.5%;
    
}

li a{
    display: block;
    color: lightsteelblue;
    text-align: center;
    padding: 16px 19px;
    text-decoration: none;
}

li a:hover{
    color: white;
    font-weight: bold;
}

.box{  
    height: 125px;
    border: 1px solid darkblue;
    margin: 5px;
}

.box:hover{
    background-color: darkcyan;
}

.text{
    margin: 5px;
    text-align: left;
    margin-right: 150px;
}

img{
    position: absolute;
    left: 68%;
    width: 120px;
    height: 120px;
}

#desk1{
    position: absolute;
    top: 18%;
}

#house1{
    position: absolute;
    top: 35.5%;
}

#outside1{
    position: absolute;
    top: 53%;
}

#desk2{
    position: absolute;
    top: 70.5%;
}

#outside2{
    position: absolute;
    top: 88%;
}
